@{
    ViewData["Title"] = "Data loading";
}

<div class="container-fluid p-0">

	<h1 class="h3 mb-3"><strong>Data</strong> Loading</h1>
	
	<div class="row">
		<div class="col-12 d-flex">
			<div class="card flex-fill">
				<div class="card-body">
					<h5 class="card-title">Fetch data from API</h5>
					<div class="alert alert-success mt-3" role="alert">
						Data is fetched.
					</div>
					<a href="#" class="btn btn-primary">Fetch</a>
				</div>
			</div>
		</div>
	</div>
</div>