@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: url("../images/auth_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: white;
  margin-bottom: 30px;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  background: linear-gradient(50deg, #0f1f24, rgba(15, 31, 36, 0.9607843137), rgba(8, 32, 39, 0.1764705882));
}

.custom-form input {
  background-color: #2c3b41;
  color: white;
  border-color: #4e4e4e;
  border-radius: 17px;
  padding: 20px 10px;
  font-size: 15px;
  transition: 0.2s background-color;
}
.custom-form input:focus {
  background-color: #324750;
  color: white;
  box-shadow: 0 0 0 3px #007396;
}
.custom-form label {
  color: #c6c6c6;
  font-size: 15px;
}
.custom-form button {
  background-color: #007a9f;
}
.custom-form button:hover {
  background-color: #006483;
}
.custom-form a, .custom-form button {
  width: 45%;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
}
.custom-form .form-row-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.field-validation-valid{
    display: none;
}

.field-validation-error{
    display: block;
}

.input-validation-error {
    border-color: rgba(220,53,69,.9) !important;
    margin-bottom: 50px;
}

.input-validation-error:focus {
    box-shadow: 0 0 0 3px #ff1010ab!important;
}

.input-validation-error ~ label {
    color: #ff6161 !important;
}

@media (max-width: 768px) {
    .background-overlay {
        background: #0f1f24;
    }
}