@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    padding-top: 3vh;
    background: linear-gradient(45deg, #0d0f13, #082027);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white!important;
}

nav {
    position: sticky;
    top: 3vh;
    height: 97vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    nav {
        align-items: center;
    }
}

nav .logo {
    font-size: 30px;
    font-weight: 600;
}

    nav .logo span {
        color: #3aadff;
    }

nav .nav-list {
    width: 90%;
}

    nav .nav-list ul {
        padding-left: 0;
        margin: 20px 0;
    }

    nav .nav-list li {
        list-style-type: none;
        font-size: 22px;
        font-weight: 300;
        margin: 5% 0;
    }

        nav .nav-list li a {
            display: flex;
            flex-direction: row;
            padding: 10px 20px;
            transition: 0.2s;
            border-radius: 50px;
        }

            nav .nav-list li a:hover {
                background: #2e3e42;
            }

    nav .nav-list .nv-main-active span, nav .nav-list .nv-main-active i {
        color: #61bdff;
    }

    nav .nav-list .nav-icon {
        width: 50px;
    }

    nav .nav-list .tweet-btn {
        display: inline-block;
        text-align: center;
        background: #2e87c6;
        font-size: 20px;
        padding: 10px 0;
        border-radius: 50px;
        width: 100%;
        border: none;
        transition: 0.2s;
    }

        nav .nav-list .tweet-btn:hover {
            background: #3597dc;
        }

@media (max-width: 1200px) {
    nav .nav-list {
        width: 100%;
    }

        nav .nav-list .nav-icon {
            width: 100%;
            text-align: center;
        }

        nav .nav-list li a {
            padding: 10% 0;
        }

        nav .nav-list i {
            display: inline-block !important;
            font-size: 20px;
        }
}

nav .logout-prf-btn, nav .auth-link {
    background: #103b48;
    border: none;
    width: 90%;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 50px;
}

nav form {
    width: 100%; 
    margin-top: auto;
    margin-bottom: 5vh;
}

    nav .logout-prf-btn i, nav .auth-link i {
        margin-right: 5px;
    }

    nav .logout-prf-btn:hover, nav .auth-link:hover {
        background-color: #165163;
    }

nav .auth-link {
    display: block;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

nav .auth-box {
    margin-top: auto;
    margin-bottom: 5vh;
}

@media (max-width: 1200px) {
    nav span {
        display: none;
    }

    nav .tweet-btn {
        padding: 10px 4px !important;
        width: 100%;
    }
}

main {
    display: flex;
    flex-direction: row;
}

.tweet-list .tweet {
    margin: 20px 0;
    background-color: rgba(20, 63, 74, 0.6352941176);
    border-radius: 20px;
    overflow: hidden;
}

    .tweet-list .tweet .main-tweet, .tweet-list .tweet .reply {
        padding: 10px 3px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        cursor: pointer;
        transition: 0.2s;
    }

        .tweet-list .tweet .main-tweet:hover, .tweet-list .tweet .reply:hover {
            background-color: rgba(21, 67, 79, 0.6352941176);
        }

    .tweet-list .tweet .main-tweet {
        padding-top: 20px;
    }

    .tweet-list .tweet .reply {
        padding-top: 10px;
    }

    .tweet-list .tweet .left-profile {
        padding: 0 10px;
        width: 80px;
        position: relative;
    }

        .tweet-list .tweet .left-profile .rep-line {
            width: 2px;
            height: 100%;
            background: #6fa4aa;
            margin: auto;
            margin-top: 5px;
        }

        .tweet-list .tweet .left-profile .rep-line-top {
            position: absolute;
            left: 50%;
            top: -15px;
            transform: translate(-50%, 0);
            height: 10px;
            margin: 0;
        }

        .tweet-list .tweet .left-profile .prf-pic {
            width: 100%;
            border-radius: 50%;
        }

    .tweet-list .tweet .right-content {
        padding: 0 10px;
        padding-left: 5px;
        width: 100%;
    }

        .tweet-list .tweet .right-content .tweet-more {
            background: transparent;
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: 0.2s;
        }

            .tweet-list .tweet .right-content .tweet-more:hover {
                background: rgba(45, 199, 255, 0.462745098);
            }

        .tweet-list .tweet .right-content .user-identity {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
        }

            .tweet-list .tweet .right-content .user-identity a {
                font-size: 17px;
                font-weight: 600;
                padding-right: 5px;
            }

                .tweet-list .tweet .right-content .user-identity a:hover {
                    text-decoration: underline;
                }

            .tweet-list .tweet .right-content .user-identity p, .tweet-list .tweet .right-content .user-identity span {
                font-weight: 300;
                color: #acacac;
                margin: 0;
                margin-bottom: 3px;
            }

            .tweet-list .tweet .right-content .user-identity span {
                padding: 0 5px;
            }

    .tweet-list .tweet .stat {
        transition: 0.2s;
    }

        .tweet-list .tweet .stat i {
            padding: 10px;
            border-radius: 50%;
            transition: 0.2s;
        }

        .tweet-list .tweet .stat:hover i {
            background-color: grey;
        }

    .tweet-list .tweet .reactions {
        margin-top: 10px;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tweet-list .tweet .likes-stat:hover {
        color: #fa445c;
    }

        .tweet-list .tweet .likes-stat:hover i {
            color: #fa445c;
            background-color: rgba(250, 68, 92, 0.2);
        }

    .tweet-list .tweet .comments-stat:hover {
        color: #2dc7ff;
    }

        .tweet-list .tweet .comments-stat:hover i {
            color: #2dc7ff;
            background-color: rgba(45, 199, 255, 0.2);
        }

    .tweet-list .tweet .retweets-stat i {
        padding: 10px 9px;
    }

    .tweet-list .tweet .retweets-stat:hover {
        color: #44fa5c;
    }

        .tweet-list .tweet .retweets-stat:hover i {
            color: #44fa5c;
            background-color: rgba(68, 250, 92, 0.2);
        }

    .tweet-list .tweet .reactions button, .tweet-list .tweet .reactions i {
        background: none;
        border: none;
        color: #c2c2c2;
    }

    .tweet-list .tweet .reactions i {
        margin: 0 10px;
    }

    .tweet-list .tweet .image-content {
        width: 100%;
        margin: 10px 0;
    }

        .tweet-list .tweet .image-content img {
            max-height: 60vh;
            max-width: 100%;
            border-radius: 20px;
        }

.tweets-sec {
    width: 65%;
}

.right-sec {
    margin-left: 25px;
    width: calc(35% - 25px);
}

.trending, .profiles {
    background-color: rgba(20, 63, 74, 0.6352941176);
    border-radius: 20px;
    padding-top: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .trending h3, .profiles h3 {
        margin: 0 20px;
        margin-bottom: 10px;
    }

    .trending a, .profiles div {
        padding: 20px;
        transition: 0.2s;
    }

        .trending a:hover, .profiles div:hover {
            background-color: rgba(22, 68, 80, 0.6352941176);
        }

    .profiles div {
        padding: 0;
        padding-right: 20px;
    }

    .profiles div, .profiles a {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profiles a {
        padding: 10px 0;
        padding-left: 20px;
        font-size: 15px;
        width: 100%;
    }

        .profiles a span {
            color: #acacac;
            margin-right: auto;
        }

        .profiles a p {
            margin: 0;
        }

        .profiles button {
            color: black;
            padding: 7px 15px;
            font-weight: 500;
            font-size: 14px;
            border-radius: 50px;
            border: none;
            transition: 0.2s;
        }

            .profiles button.following {
                background: transparent;
                color: white;
                border: 1px solid #ffffff8a;
            }

            .profiles button:hover {
                background: #cfcfcf;
                color: black;
            }

    .profiles img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

.see-all {
    color: #85ccff!important;
    padding: 20px !important;
}

.see-all:hover {
    background-color: rgba(22, 68, 80, 0.6352941176);
}

@media (max-width: 1400px) {
    .right-sec {
        width: calc(40% - 25px);
    }

    .tweets-sec {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .tweet {
        border-radius: 10px !important;
    }

    .right-sec {
        display: none;
    }

    .tweets-sec {
        width: 100%;
    }
}

.dropdown-menu {
    background: #121e21;
}

    .dropdown-menu .dropdown-item {
        color: white;
        border-radius: 0;
        width: 100%;
        padding: .25rem 1rem !important;
        font-weight: 400!important;
    }

.dropdown-menu .dropdown-item:hover {
    background: rgba(108, 149, 164, 0.2901960784);
    text-decoration: none!important;
}

.liked, .liked i {
    color: #fa445c!important;
}

.retweeted, .retweeted i {
    color: #44fa5c !important;
}

#delete-modal .modal-content{
    background: rgba(20, 63, 74)!important;
}

#delete-modal .btn-close {
    filter: invert(1);
}

#delete-modal .modal-header, #delete-modal .modal-footer {
    border: 0;
}

@media (max-width: 576px) {
    .main-tweet {
        padding: 8px 0 !important;
    }

    .reply {
        padding: 10px 0 !important;
    }

    .text-content {
        font-size: 14px !important;
    }

    .left-profile {
        padding: 0 4px !important;
        width: 55px !important;
    }

    .tweets-sec {
        width: 100%;
    }

    .reactions {
        margin: 0 !important;
        font-size: 12px !important;
        margin-right: 10px !important;
    }

        .reactions .stat i {
            margin: 0 5px !important;
            margin-top: 5px !important;
            padding: 5px !important;
        }

    .user-identity a, .user-identity p, .user-identity span {
        font-size: 12px !important;
    }

    .text-content {
        font-size: 12px !important;
    }

    .col-nv-override {
        padding: 0;
        padding-left: 10px;
    }
}