@model List<TagData>

@{
    int tagIndex = 0;
}

<div class="trending">
    <h3>Trending</h3>
    
    
    @foreach (var tag in Model)
    {
        tagIndex++;

        <a href="@Url.Action("One", "Tag", new {Id = tag.TagName})">@tagIndex. @tag.TagName</a>

        @if (tagIndex == 4)
        {
            break;
        }
    }

    @if (Model.Count > 4)
    {
        <a class="see-all" asp-action="All" asp-controller="Tag">See all</a>
    }
    
</div>