<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/main_style.css">
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"] - TwitterUni</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-1 col-2 col-nv-override">
                <nav>
                    <a class="logo" asp-controller="Home" asp-action="Index">
                        <i class="fa-brands fa-twitter"></i>
                        <span>Twitter</span>
                    </a>

                    <div class="nav-list">
                        <ul>
                            <li class="nv-main-active">
                                <a asp-controller="Home" asp-action="Index">
                                    <div class="nav-icon">
                                        <i class="fa-solid fa-house"></i>
                                    </div>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nav-icon">
                                        <i class="fa-solid fa-hashtag"></i>
                                    </div>
                                    <span>Explore</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="nav-icon">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <span>Profile</span>
                                </a>
                            </li>
                        </ul>

                        <button>
                            <i class="fa-solid fa-pen d-none"></i>
                            <span>Tweet</span>
                        </button>
                    </div>

                    <form asp-area="Account" asp-controller="Auth" asp-action="Logout" method="post">
                        <button type="submit" class="logout-prf-btn">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Log Out</span>
                        </button>
                    </form>
                </nav>
            </div>

            <main class="col-xl-9 col-lg-11 col-10">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
