@{
    ViewData["Title"] = "Home";
}

@inject SignInManager<User> signInManager

@model HomeViewModel

@section Styles{
    <link rel="stylesheet" href="~/css/home/style.css">
}

<section class="tweets-sec">

    <div class="page-heading">
        <h1>Home</h1>
        <div class="home-nav-btn">
            <a class="nv-active" asp-controller="Home" asp-action="Index">For you</a>
            <a href="#">Following</a>
        </div>
    </div>

    <div class="tweet-list">

        @foreach (var tweet in Model.Tweets)
        {
            @Html.Partial("_TweetPartial", tweet);
        }

    </div>

</section>

<section class="right-sec">

    @if (Model.Tags.Count != 0)
    {
        @Html.Partial("_TrendingPartial", Model.Tags)
    }

    @if (signInManager.IsSignedIn(User) && Model.Users.Count > 1)
    {
        @Html.Partial("_ProfileBoxPartial", Model.Users)
    }
    
</section>
